<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>Java 6</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/table.css">
</head>
<body class="container my-5">
<div class="mb-5 row d-flex justify-content-center">
    <form class="row g-3 w-50" id="formSV">
        <input id="key" hidden>
        <div class="col-md-12">
            <label for="inputMssv" class="form-label">MSSV:</label>
            <input type="name" class="form-control" id="inputMssv">
        </div>
        <div class="col-md-12">
            <label for="inputName" class="form-label">Họ tên:</label>
            <input type="name" class="form-control" id="inputName">
        </div>
        <div class="col-md-12">
            <label for="inputDiem" class="form-label">Điểm:</label>
            <input type="number" class="form-control" id="inputDiem">
        </div>
            <div class="col-12">
            <label for="inputNganh" class="form-label">Khối học:</label>
                <select class="form-select" id="inputNganh" aria-label="Default select example">
                    <option value="APP" selected>Ứng dụng phần mềm</option>
                    <option value="WEB">Phát triển phần mềm</option>
                </select>
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary" id="create">Create</button>
            <button type="submit" class="btn btn-primary" id="update">Update</button>
            <button type="submit" class="btn btn-primary" id="delete">Delete</button>
            <button type="submit" class="btn btn-primary" id="reset">Reset</button>
        </div>
    </form>
</div>
<table id="tableSinhVien" class="border border-black w-100  mb-5">
    <thead class="text-center">
    <tr>
        <th >MSSV</th>
        <th >Họ tên</th>
        <th >Điểm</th>
        <th >Khối học</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody class="text-center">
    </tbody>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://www.gstatic.com/firebasejs/5.4.0/firebase.js"></script>
<script>
    $(document).ready(function() {
        function fillData() {
            $.ajax({
                url: "/api/sinh-vien",
                method: "GET",
                success: function(data) {
                    var tableBody = $('#tableSinhVien tbody');
                    tableBody.empty();
                    var keys = Object.keys(data);
                    keys.forEach(function(key) {
                        var item = data[key];
                        var row = $('<tr>');
                        row.append('<td>' + item.mssv + '</td>');
                        row.append('<td>' + item.name + '</td>');
                        row.append('<td>' + item.mark + '</td>');
                        row.append('<td>' + item.major + '</td>');
                        row.append('<td>' +
                            '<button class="btn border border-black me-2 edit" data-key="' + key + '">Edit</button>' +
                            '<button class="btn border border-black delete" data-key="' + key + '">Delete</button>' +
                            '</td>');
                        tableBody.append(row);
                    });

                    $('#tableSinhVien').on('click', '.edit', function() {
                        var key = $(this).data('key');
                        var studentUrl = `/api/sinh-vien/${key}`;
                        fetch(studentUrl)
                            .then(response => response.json())
                            .then(student => {
                                $('#inputMssv').val(student.mssv);
                                $('#inputName').val(student.name);
                                $('#inputDiem').val(student.mark);
                                $('#inputNganh').val(student.major);
                                $('#key').val(key);

                                $('#formSV').get(0).scrollIntoView({ behavior: 'smooth' });
                            })
                            .catch(error => console.error('Error fetching student data:', error));
                    });



                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.log(textStatus, errorThrown);
                }
            });
        }
        $('#tableSinhVien').on('click', '.delete', function() {
            var key = $(this).data('key');
            deleteSinhVien(key)
        });
        $('#update').click(function(e) {
            e.preventDefault();

            var mssv = $('#inputMssv').val();
            var tenSV = $('#inputName').val();
            var tuoi = $('#inputTuoi').val();
            var queQuan = $('#inputAddress').val();
            var khoiHoc = $('#inputKhoi').val();
            var monHoc = {
                monToan: $('#inputDiemToan').val(),
                monVan: $('#inputDiemVan').val(),
                monSu: $('#inputDiemSu').val(),
                monDia: $('#inputDiemDia').val(),
                monGDCD: $('#inputDiemGDCD').val(),
                monLy: $('#inputDiemLy').val(),
                monHoa: $('#inputDiemHoa').val(),
                monSinh: $('#inputDiemSinh').val()
            };
            var student = {
                mssv: mssv,
                tenSV: tenSV,
                tuoi: tuoi,
                queQuan: queQuan,
                khoiHoc: khoiHoc,
                monHoc: monHoc
            };

            var key = $('#key').val();
            var studentUrl = `https://java6-c76ed-default-rtdb.firebaseio.com/students/${key}.json`;

            $.ajax({
                url: studentUrl,
                method: "PUT",
                contentType: "application/json",
                data: JSON.stringify(student),
                success: function() {
                    alert('Update thành công');
                    fillData();
                    $('#tableSinhVien thead th').first().get(0).scrollIntoView({ behavior: 'smooth' });

                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error('Error updating student:', textStatus, errorThrown);
                }
            });
        });


        function reset(){
            $('#inputMssv').val("");
           $('#inputName').val("");
           $('#inputDiem').val("");
            $('#inputNganh').val("");

            $('#key').val("");

        }
        function deleteSinhVien(key){
            var studentUrl = `/api/sinh-vien/${key}`;
            $.ajax({
                url: studentUrl,
                method: "DELETE",
                success: function() {
                    reset();
                    fillData();
                    alert('Delete thành công');
                    $('#tableSinhVien thead th').first().get(0).scrollIntoView({ behavior: 'smooth' });

                },
                error: function(jqXHR, textStatus, errorThrown) {
                    console.error('Error updating student:', textStatus, errorThrown);
                }
            });
        }

        $('#reset').click(function(e) {
            e.preventDefault();
            reset();
            $('#formSV').get(0).scrollIntoView({ behavior: 'smooth' });
        });

        $('#create').click(function(e) {
            e.preventDefault();

            var mssv = $('#inputMssv').val();
            var name = $('#inputName').val();
            var mark = $('#inputDiem').val();
            var nganh = $('#inputNganh').val();

            // Kiểm tra hợp lệ của các trường
            if (!mssv || !name || !mark || !nganh) {
                alert('Vui lòng điền đầy đủ thông tin.');
                return;
            }

            if (mark < 0 || mark > 10) {
                alert('Điểm không hợp lệ. Vui lòng nhập điểm từ 0 đến 10.');
                return;
            }


            var student = {
                mssv: mssv,
                name: name,
                mark: mark,
                major: nganh
            };

            $.ajax({
                url: "/api/sinh-vien/add",
                method: "POST",
                contentType: "application/json",
                data: JSON.stringify(student),
                success: function(response) {
                    $('#key').val(response.name);
                    alert('Create thành công ' + response.name);
                    fillData();
                    $('#tableSinhVien thead th').first().get(0).scrollIntoView({ behavior: 'smooth' });
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    var errorMessage = 'Đã xảy ra lỗi: ';

                    if (jqXHR.status === 409) {
                        // Xử lý lỗi khi dữ liệu đã tồn tại
                        errorMessage += jqXHR.responseJSON ? jqXHR.responseJSON.message : 'Sinh viên đã tồn tại.';
                    } else {
                        // Xử lý các lỗi khác
                        errorMessage += textStatus + ' - ' + errorThrown;
                    }

                    alert(errorMessage);
                    console.error('Error creating student:', textStatus, errorThrown);
                }
            });
        });


        $('#delete').click(function(e) {
            e.preventDefault();

            var key = $('#key').val();

            if (key === '') {
                alert('Vui lòng chọn sinh viên để xóa');
                return;
            }
            deleteSinhVien(key)
        });
        fillData()
    });
</script>
</body>
</html>